*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}

.gap-4 {
	gap: 1rem;
}

.items-center {
	align-items: center;
}
